# ignore .vscode folder
.vscode/
# ignore building folder
Debug/
# ignore makefile
makefile
# ignore docs folder
__docs/

CMakeFiles/
CMakeCache.txt
**/CMakeLists.txt
**/cmake_install.cmake
**/*.a
**/Makefile